name: foodly
description: An all-in-one meal planning app

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages and apps.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

version: 1.1.2+6

environment:
  sdk: ">=3.4.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  # Util
  flutter_riverpod: 2.6.1
  auto_route: ^5.0.4
  intl: ^0.20.2
  # see hive_ce for continued support; can't upgrade because of https://github.com/petercinibulk/envied/issues/125
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  # flutter_cache_manager_hive:
  #   git:
  #     url: https://github.com/X-Wei/flutter_cache_manager_hive.git
  #     ref: master
  dio: ^5.8.0+1
  dio_cache_interceptor: ^3.5.1
  dio_cache_interceptor_hive_store: ^3.2.2
  url_launcher: ^6.3.2
  another_flushbar: ^1.12.31
  share_plus: ^11.0.0
  email_validator: ^3.0.0
  logging: ^1.3.0
  # receive_sharing_intent: ^1.8.1
  receive_sharing_intent:
    git:
      url: https://github.com/KasemJaffer/receive_sharing_intent.git
      ref: 2cea396843cd3ab1b5ec4334be4233864637874e # https://github.com/KasemJaffer/receive_sharing_intent/issues/344
  image_picker: ^1.2.0
  path_provider: ^2.1.5
  sign_in_with_apple: ^7.0.1
  crypto: ^3.0.6
  easy_localization: ^3.0.8
  flutter_localized_locales: ^2.0.5
  # metadata_fetch: ^0.4.1
  metadata_fetch:
    git:
      url: https://github.com/LucasG04/metadata_fetch.git
      ref: v0.4.3
  flutter_file_dialog: ^3.0.2
  keyboard_service: ^2.0.4
  flutter_image_compress: ^2.4.0
  version: ^3.0.2
  package_info_plus: ^8.3.1
  in_app_update: ^4.2.3 # Android Updates
  update_available: ^3.2.0 # iOS Updates
  envied: ^1.1.1
  purchases_flutter: ^8.7.1
  permission_handler: ^12.0.1
  flutter_phoenix: ^1.1.1
  clipboard: ^2.0.2
  internet_connection_checker: ^3.0.1
  app_links: ^6.4.1
  keep_screen_on: ^4.0.0
  objectbox: ^4.1.0
  objectbox_flutter_libs: ^4.1.0

  # Firebase
  # If updating any version, check the firebase sdk version in "/ios/Podfile"
  cloud_firestore: ^5.6.6
  firebase_analytics: ^11.4.5
  firebase_app_check: ^0.3.2+5
  firebase_auth: ^5.5.2
  firebase_core: ^3.13.0
  firebase_crashlytics: ^4.3.5
  firebase_storage: ^12.4.5
  firebase_performance: ^0.10.1+5

  # Widgets
  flutter_snake_navigationbar: ^0.6.1
  eva_icons_flutter: ^3.1.0
  group_list_view: ^1.1.1
  adaptive_dialog: ^2.4.2
  flutter_markdown: ^0.7.7+1
  auto_size_text: ^3.0.0
  # flutter_toggle_tab: ^0.0.5+4
  badges: ^3.1.2
  # TODO: change when merged https://github.com/jamesblasco/modal_bottom_sheet/issues/325
  modal_bottom_sheet:
    git:
      url: https://github.com/followthemoney1/modal_bottom_sheet.git
      ref: main
      path: modal_bottom_sheet
  concentric_transition:
    git:
      url: https://github.com/LucasG04/flutter-concentric-transition.git
  dotted_border: ^2.1.0
  in_app_review: ^2.0.11
  like_button: ^2.0.5
  blur: ^4.0.2
  sticky_headers: ^0.3.0+2
  custom_rating_bar: ^3.0.0
  flutter_quill: ^11.4.2

  # Icons/Styles/Animations
  cupertino_icons: ^1.0.8
  flutter_staggered_animations: ^1.1.1
  font_awesome_flutter: ^10.10.0

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter
  lints: ^5.1.1
  # build runner via: `dart run build_runner build --delete-conflicting-outputs`
  build_runner: ^2.4.13
  auto_route_generator: ^5.0.3
  hive_generator: ^2.0.1
  flutter_launcher_icons: ^0.14.3
  envied_generator: ^1.1.1
  objectbox_generator: ^4.1.0

# dependency_overrides:
#   platform: ^3.1.0

flutter_icons:
  android: true
  ios: true
  image_path_android: "assets/icon/icon-android.png"
  image_path_ios: "assets/icon/icon-ios.png"
  adaptive_icon_background: "assets/icon/icon-android-back.png"
  adaptive_icon_foreground: "assets/icon/icon-android-fore.png"
  # run with: flutter pub run flutter_launcher_icons:main

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/onboarding/
    - assets/help_slide/
    - assets/translations/
    - assets/icon/

  fonts:
    - family: Poppins
      fonts:
        - asset: assets/fonts/Poppins-Bold.ttf
          weight: 700
        - asset: assets/fonts/Poppins-Medium.ttf
          weight: 500
        - asset: assets/fonts/Poppins-BoldItalic.ttf
          weight: 700
          style: italic
